/* Write your CSS here */
.summary_card_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.summary_card {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.total_amount_para {
  font-size: 20px;
  color: rgb(83, 82, 82);
  font-weight: 500;
  margin: 0;
}

.total_amount_span {
  font-size: 26px;
  color: rgb(6, 3, 29);
  font-weight: 670;
  font-family: 'Roboto';
}

.total_cart_items_para {
  font-size: 12px;
  color: rgb(83, 82, 82);
  font-weight: 500;
  margin: 0;
}

.checkout_btn {
  margin-top: 15px;
  border: none;
  background-color: #0b69ff;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
}
